/* Base */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.conteiner {
    width: 80%;
    height: 1000px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

body {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

/* Header */
#logo {
    width: auto;
    height: 50px;
    margin-right: 20px;
}

#border-left {
    height: 50px;
    border-width: 0px 2px 0px 0px;
    border-style: solid;
    border-color: lightgrey;
    display: inline-block;
}
/* Nav */
li {
    display: inline-block;
    list-style-type: none; 
    margin: 20px 0;   
}

a {
    text-decoration: none;
    margin-left: 20px;
    color: grey;
    font-size: 12px;
}

a:hover {
    color: rgb(255, 0, 85);
}

#first:first-child {
    margin-left: 0;
}
/* main */

.main {
    width: auto;
    height: 500px;
    margin: 0 auto;
    background-color: grey;
    border-radius: 20px;   
}

.banner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    float: left;
    border-radius: 20px;
    opacity: 0.5;
    filter: saturate(3);
}

.conteiner-testo {
        position: absolute;
        width: 490px;
        height: 50px;
        bottom: 130px;
        left: 180px;
        color: white;
}

h1{
    font-size: 26px;
    font-weight: normal
}

.sottotitolo{
    font-size: 13px;
    font-weight: normal;
    color: white;
}
/* section-header */

.section-header {
    width: 100%;
    height: auto;
}

h2{
    font-size: 24px;
    margin-top: 20px;
}

h5{
    margin-bottom: 20px;
    color: grey;
    font-weight: normal
}
/* section-table */
.riquadro-principale {
    width: auto;
    height: 500px;
}
.box1 {
    width: 20%;
    height: 500px;
    float: left;
    margin-right: 20px;
}
.box2 {
    width: calc( 60% - 40px);
    height: 500px;
    float: left;
}
.box3 {
    width: 20%;
    height: 500px;
    float: right;
    margin-left: 20px;
}
.box1-1 {
    width: 100%;
    height: 200px;
    background-color: grey;
    float: left;
    margin-right: 20px;
    border-radius: 20px;
}
.box2-2 {
    width: 100%;
    height: 200px;
    background-color: grey;
    float: left;
    border-radius: 20px;
}
.box3-3 {
    width: 100%;
    height: 200px;
    background-color: grey;
    float: right;
    margin-left: 20px;
    border-radius: 20px;

}

.img1, .img2, .img3 {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    object-fit: cover;
    float: left;
    border-radius: 20px;
    opacity: 0.7;
    filter: saturate(3);
}
.lorem {
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    width: auto;
    display: inline-block;
}

p {
    color: grey;
    font-weight: normal;
    font-size: 15px;
}
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.footer {
    width: auto;
    height: 40px;
}

.copy {
    font-weight: normal;
    text-align: center;
}

#heart{
    color: red;
}